.header {
    background-color: #ffffff;
    text-align: right;
}

.body {
    background-size: cover;
    background-color: #ffffff;
    text-align: center;
    height: 1920;
    width: 1080;
}



.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand { 
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.text-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}




.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

.btn-red {
  background-color: rgb(255, 159, 159);
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.btn-green {
  background-color: rgb(162, 255, 159);
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.btn-blue {
  background-color: rgb(144, 242, 255);
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.input, select {
  width: 60;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

img {
  border-radius: 5px 5px 0 0;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}

table th {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
  text-align: center;
}

table tr {
  height: 48px;
  border-bottom: 1px solid #000000;
}

table td{
  text-align: center;
}